<nav class="navbar navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="logo">
        <a class="navbar-brand" href="#"></a>
        <p class="navbar-text">CodeLab</p>
      </div>
    </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#slide1">Courses</a></li>
        <li><a href="#slide2">Quiz</a></li>
        <li><a href="#slide3">Activity</a></li>
        <li><a href="#slide4">Assignment</a></li>
        <li><a href="#slide5">Grades</a></li>
        <li><a href="#slide6">Account</a></li>
        <li><a href="#slide6">Logout</a></li>

      </ul>
    </div>
  </div>
</nav>